# Python cache
__pycache__/
*.py[cod]
*.egg-info/

notebooks/
*.png

# Jupyter outputs
.ipynb_checkpoints/
# *.csv
*.pkl
*.h5

# Environment folders (just in case)
.env/
.venv/

# Data + logs
# /data/
logs/

report/combine_data.py


